# =========================
# Detection Agent (:8001)
# =========================

# Kafka
KAFKA_BROKER=localhost:9092
EVENT_VERSION=v1

# A2A - URLs of other agents this agent talks to
CITIZEN_ALERT_AGENT_URL=http://localhost:8004
PREDICTION_AGENT_URL=http://localhost:8002
LOGISTICS_AGENT_URL=http://localhost:8003
SELF_EVOLVING_AGENT_URL=http://localhost:8005
