# =========================
# API Gateway
# =========================

# Server
PORT=8080

# Kafka (internal Docker network address when using Docker)
KAFKA_BROKER=localhost:9092

# ML Model service URL
ML_MODEL_URL=http://localhost:9000
